/* global css */
* {
    font-size: 30px;
    font-weight: 500;

}

/*external css*/
h3 {
    color: black;

}

/*element selector*/
h4 {
    color: turquoise;
}

/*class selector*/
.myclass {
    color: darkorange;
}

/*id selector*/
#myid {
    color: rgb(112, 216, 140);
}

/*grouping selector*/
h5,
p {
    color: rgb(227, 231, 220);
}