body{
    margin: 0;
    font-family: "Baloo Tamma 2",sans-serif;
    background: #fff;
}
.navigation{
    background: #222;
    border-top: 2px solid #f2a900;
   
    padding: 12px 40px !important;
}

.brand-logo{
    height: 26px;
    width:auto;
}
.navigation-link{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color:#fff!important;
}
.navigation-link:hover{
    color:#f2a900 !important;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Baloo Tamma 2", sans-serif;
    background: #252525;
}

/* Full width navbar */
.navigation {
    background: #222;
    border-top: 2px solid #f2a900;
    padding: 12px 40px !important;
}

/* Logo */
.brand-logo {
    height: 26px;
    width: auto;
}

/* Links */
.navigation-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #fff !important;
}

.navigation-link:hover {
    color: #f2a900 !important;
}


/* Main Heading Font */
.m-heading {
    font-family: "Roboto Slab", serif;
}

.text-white {
    color: white;
}

/* Main Container height*/
.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('');
    background-attachment: fixed;
    background-size: cover;
}

/* Aligning items in main row */
.main_row {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Changing Name Font sixe */
.main_row h1 {
    font-size: 5rem;

}

/* Making the main image the size of the screen */
.main_row img {
    width: auto;
    height: 100vh;

}
.about {

    background-color: rgba(0, 0, 0, 0.6);

    border-radius: 15px;

    margin-top: 50px;

}



.m-heading {

    font-size: 2.5rem;

    font-weight: 700;

    margin: 20px 0;

}



.btn-outline-warning {

    border-width: 2px;

    font-weight: 600;

    padding: 10px 30px;

    transition: all 0.3s ease;

}



.btn-outline-warning:hover {

    background-color: #ffc107;

    transform: scale(1.05);

}
#projects h1 {
    font-weight: 900;
}

.card {
    border: 0;
    border-radius: 3px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, .35);
}

.card-img-top {
    padding: 18px;
    height: 13rem;
    object-fit: contain;
}

.card-text {
    color: #6f7780;
    font-size: .85rem;
}

.btn-warning {
    font-weight: 700;
    font-size: .8rem;
    border-radius: 3px;
}